use nix

export DIRENV_TIMEOUT=30  # Increase from default 5s
mkdir -p $TMPDIR
# Load .envrc.local only if it exists
#
if [ -f .envrc.local ]; then
  source_env .envrc.local
else
  echo ".envrc.local not found. Skipping."
fi

